<div class="cards-container">
    <div class="card">
        <div class="card-head">Lorem, ipsum - Dashboard 1</div>
        <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id dolore maiores voluptatem numquam sit ea adipisci quas nam iure, culpa natus nostrum magnam corporis dicta ut dolorum. Soluta, fugit est?
        </div>
    </div>
    <div class="card">
        <div class="card-head">Lorem, ipsum - Dashboard 2</div>
        <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id dolore maiores voluptatem numquam sit ea adipisci quas nam iure, culpa natus nostrum magnam corporis dicta ut dolorum. Soluta, fugit est?
        </div>
    </div>
</div>
